{% extends 'layout.html' %}
{% block title %}Motion Estimation{% endblock %}
{% block body %}

<h1>Optical Flow - Motion Estimation</h1>
<p class="horizontal-centered">
    <br>Optical flow is a specific method within motion estimation that focuses on calculating the velocity or motion vectors of pixels
    <br>in an image or between consecutive frames. It helps determine the direction and speed of object motion in an image sequence.
    <br>
    <br>Motion estimation is a computer vision technique used to analyze and quantify the movement of objects in a sequence of images or frames.
    <br>It involves tracking the displacement of pixels or features between consecutive frames to understand how objects or scenes change over time.
</p>

<hr>
<div class="diff-frame-container">
    <img src="{{ url_for('optical_flow_feed2') }}" class="diff_video" width="640" height="480" />
<img src="{{ url_for('optical_flow_feed1') }}" class="diff_video" width="640" height="480" />
</div>


{% endblock %}