*__pycache__
.DS_Store
Submission 2/.python-version
*.json
%USERPROFILE%/.pyenv/.version
%USERPROFILE%/.pyenv/pyenv-win/.versions_cache.xml
%USERPROFILE%/.pyenv/pyenv-win/__init__.py
%USERPROFILE%/.pyenv/pyenv-win/bin/pyenv
%USERPROFILE%/.pyenv/pyenv-win/bin/pyenv.bat
%USERPROFILE%/.pyenv/pyenv-win/bin/pyenv.ps1
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/dark.exe
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/dark.exe.config
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/LICENSE.TXT
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/winterop.dll
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/wix.dll
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/WixDependencyExtension.dll
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/WixDifxAppExtension.dll
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/WixDirectXExtension.dll
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/WixFirewallExtension.dll
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/WixGamingExtension.dll
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/WixHttpExtension.dll
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/WixIIsExtension.dll
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/WixNetFxExtension.dll
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/WixSqlExtension.dll
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/WixUIExtension.dll
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/WixUtilExtension.dll
%USERPROFILE%/.pyenv/pyenv-win/bin/WiX/WixVSExtension.dll
%USERPROFILE%/.pyenv/pyenv-win/libexec/libs/pyenv-install-lib.vbs
%USERPROFILE%/.pyenv/pyenv-win/libexec/libs/pyenv-lib.vbs
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv---version.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-commands.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-duplicate.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-exec.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-export.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-global.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-help.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-install.vbs
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-local.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-rehash.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-shell.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-shims.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-uninstall.vbs
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-update.vbs
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-version-name.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-version.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-versions.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-vname.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-whence.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv-which.bat
%USERPROFILE%/.pyenv/pyenv-win/libexec/pyenv.vbs
%USERPROFILE%/.pyenv/pyenv_win-3.1.1.dist-info/INSTALLER
%USERPROFILE%/.pyenv/pyenv_win-3.1.1.dist-info/LICENSE
%USERPROFILE%/.pyenv/pyenv_win-3.1.1.dist-info/METADATA
%USERPROFILE%/.pyenv/pyenv_win-3.1.1.dist-info/RECORD
%USERPROFILE%/.pyenv/pyenv_win-3.1.1.dist-info/REQUESTED
%USERPROFILE%/.pyenv/pyenv_win-3.1.1.dist-info/top_level.txt
%USERPROFILE%/.pyenv/pyenv_win-3.1.1.dist-info/WHEEL
install-pyenv-win.ps1
