{% extends 'layout.html' %}
{% block title %}FFT and Huffman{% endblock %}
{% block body %}

<h1>FFT and Huffman</h1>
<hr>

<div class="mt-3">
    <form method="POST" novalidate enctype="multipart/form-data">
        {{ form.csrf_token() }}
        <div class="row">
            <div class="col">
                <label for="picture">Choose picture (only .jpg !!):</label>
                {{ form.image(class='form-control') }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.submit(class='btn btn-success mt-2') }}
            </div>
        </div>
    </form>
</div>

{% if output != None %}
    <hr>
    <div class="subtitle">Original image</div>
    <img src="{{ input_image }}" alt="Input image">

    <p>
        {% for line in output %}
            {{ line }}
            <br>
        {% endfor %}
    </p>

{% endif %}


{% endblock %}