{% extends 'layout.html' %}
{% block title %}Regions of Interest{% endblock %}
{% block body %}

<h1>Regions of Interest</h1>
<p class="horizontal-centered">
    Lorem ipsum
</p>

<hr>
<form method="POST" novalidate enctype="multipart/form-data">
    {{ form.csrf_token() }}
    <div>
        <div >
            {{ form.morphological.label }}
            <br>
            {{ form.morphological(class="form-control mt-2") }}
        </div>
        <div >
            {{ form.sift.label }}
            {{ form.sift(class="form-control mt-2") }}
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-success mt-2">Submit</button>
    </div>
</form>
{% if images != None %}
    {% for image in images %}
        <img src="{{ image }}" alt="Submission 2\static\images\indeximage.jpg" class="roi-image ">
    {% endfor %}
{% endif %}

{% endblock %}