{% extends 'layout.html' %}
{% block title %}MRA of Wavelet Transform{% endblock %}
{% block body %}

<h1>Wavelet Transform</h1>
<div class="subtitle">Example of usage on image</div>
<hr>
<p>In this example we are using wavelet transform and swapping out the aproximation layer with our own image. The image we are using is this:</p>
<img style="width: 200px;" src="{{ url_for('static', filename='wavelet_transform.jpg') }}" alt="">
<hr>
<div class="mt-3">
    <form method="POST" novalidate enctype="multipart/form-data">
        {{ form.csrf_token() }}
        <div class="row">
            <div class="col">
                <label for="picture">Choose picture (only .jpg !!):</label>
                {{ form.image(class='form-control') }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.submit(class='btn btn-success mt-2') }}
            </div>
        </div>
    </form>
</div>

{% if input_image != None %}

    <hr>
    <img src="{{ input_image }}" alt="Input image">
    <img src="{{ wavelet_img }}" alt="Wavelet Image">
    

{% endif %}
{% endblock %}