body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin-top: 10%;
}

form {
    text-align: center;
}

h1 {
    margin-bottom: 0px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

input[type="file"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}